<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>790577440399-c84rob5ouljkkqh2449ag6kbm7tqhpop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790577440399-c84rob5ouljkkqh2449ag6kbm7tqhpop</string>
	<key>API_KEY</key>
	<string>AIzaSyBr0o4Gig9uao-wfbtUEG69KqOV1KO125M</string>
	<key>GCM_SENDER_ID</key>
	<string>790577440399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.techacademy.ain13ikon.RandomLunch2</string>
	<key>PROJECT_ID</key>
	<string>randomlunch-14efa</string>
	<key>STORAGE_BUCKET</key>
	<string>randomlunch-14efa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790577440399:ios:276da35ca820e7ef</string>
	<key>DATABASE_URL</key>
	<string>https://randomlunch-14efa.firebaseio.com</string>
</dict>
</plist>